.container {
  background-color: rgb(223, 215, 205);
  margin: 10px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(155, 152, 219);
}
.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.btndisplayHorz {
  display: flex;
  margin: 30px auto;
  justify-content: space-around;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #69a3f0;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
